<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1"  thread-count="2">
	<test name="mobile1">
		<parameter name="UID" value="a13f32d2" />
		<parameter name="PORT" value="4726" />
		<classes>
			<class name="Test.optional" />
		</classes>
	</test>

	<test name="mobile2">
		<parameter name="UID" value="48ec5ac87d43" />
		<parameter name="PORT" value="4725" />
		<classes>
			<class name="Test.optional" />
		</classes>
	</test>

</suite> <!-- Suite -->
